.main-container {
  width: 800px;
  margin: 0 auto;
}

.hiddenDescriptionContent {
  display: none;
}

.content-center {
  background-color: rgba(67, 172, 211, 0.608);
  text-align: center;
  padding: 10px 30px;
  border-radius: 5px;
  width: 400px;
}

.content-center:hover {
  cursor: pointer;
  background-color: rgba(59, 148, 181, 0.608);
}
