img {
  width: 800px;
  height: auto;
}

.code-style {
  font-size: 20px;
  line-height: 28px;
  background-color: rgba(243, 237, 215, 0.708);
  color: #252525;
  display: inline;
  padding: 5px 20px;
  border-radius: 5px;
}
